body{
	margin: 0;
	padding: 0;
}
.caja{
	width: 1440px;
	height:723px;
	background-color: pink;
	
}


.imagen{
	width: 1440px;
	height:723px;
}

.logoLab{
	width: 400px;
	position: relative;
	bottom:750px;
     left: 200px;
	
}